{% extends 'mainapp/base_dashboard.html' %}

{% block title %}
    Comparator
{% endblock %}

{% block titlebar %}
    <h1 class="h2">Comparator</h1>
{% endblock %}


{% block content %}
    <h3>My Comparators</h3>

     <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Crawler1</th>
          <th>Crawler2</th>
          <th>Data1</th>
          <th>Data2</th>
          <th></th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
    {% for comparator in comparators %}
        <tr>
        <td>{{ comparator.name }}</td>
        <td>{{ comparator.model1.name }}</td>
        <td>{{ comparator.model2.name }}</td>
        <td>{% if comparator.running == True %}Running
          {% else %}
          <a href="{% url 'mainapp:launch_comparator' comparator.id%}" role="button" class="btn btn-danger">Run!</a>
      {% endif %}</td>

        </tr>
    {% endfor %}

    </tbody>
  </table>

    <br><br>

   <a href="{% url 'mainapp:add_comparator_form' %}" role="button" class="btn btn-primary">Add</a>


{% endblock %}