{% extends "mainapp/base_dashboard.html" %}
{% block title %} Home{% endblock %}

{% block titlebar %}
            <h1 class="h2">Home</h1>            

{% endblock %}


    {% block content %}
          

          <h2>Welcomas</h2>
          <pre>
              NNNNNNNNNmmmmdhyyyyyyyyssssyyysssymddddmNNNNNNNNNN
              MMMMMMNNNmmddyssssyhdmddhyssooo+osddyhhmNMMMMMMMMM
              MMMNNNNmdhhysooydmNMMMNNNNdhys+//+hyosyhNNNMMMMMMM
              MNNNmmdhhhyyssdmNNNmdddddhhddmmdyoys++oymNNNMMMMMM
              MNNmmddhyssoohmmho/::::///++/+shmNmy//+odhhdNMMMMM
              MNmmddhsssooshh+::--..---://++osshmNy//+ysoydNNNMM
              Nmmddhyoooohmh+::--..----:::::+osydNNh//ss+shdmNNM
              Nmdhhyo+//hMNy/::-...------::/++oshNMMh/oo/+oshdmM
              mhyyso+///NMMy///++/+/////+sdmmNmmmNMMNo+o//++sydN
              mhyso+/+//dMMdNNNNNNmmh/+shdhmNMMMMMNMN+/o::/+oshm
              mhyys+/++/oMNNmyso++osh:-ssshhdmNMMMNMd:/+:::/+osd
              myyyo////:/dNdysso+sdmy:-smNNNMMMMMmmNm+:+::://osh
              hs+/:--...:odosdmmdNNd/:-/hmNNNNNNNmmNd::+:-://+sh
              s+::--.....-oy+sdddys+ossydmmhdNNNmmNNh-:+:-::/+oh
              so/:--.....-/yso+/////hNNNNMNddmmmmmmy:--+:-::/+oy
              y+/:--....--:hsoo+++++oymNMMMNNmmNmmo-..-+:--:/+oh
              so+::--......-ooooohdhhhdmNNMMNNNNNNNs..-+/-::/+sd
              s//::-...-....yyyyso+oshmNNNNNNNNNMNmmooshhhhdmmNM
              s/::--...-.-smosyhhyso++oosshmNNMMNdNNNMMMMMMMMNNM
              o/:::-...-oNMMyoshyydhyyyhdmmNMNMmNMMNNMMMMMNmdhdN
              yoossyyhhmMMMMhmhohmdhdNNNMMMMMMMMMNMMNNMMNNNNNmdN
              MMMMMMMMMMMNMMmhs+yshddNNNMMMMMMMMMMNhshMMMMMMMMNM
              MMMMMMMMMMMMNmmho``-hNNNMMMMMMMMMMMNmdmMMMMMMMMMMM
              MMMMMMMMMMMMMMNNh.``.shysssyhhddmNMMMNNNMMMMMMMMMM
              NNNNNNNNNNNNNNNNNs.``.oo:-syossyyhsyshmNNNNNNNNNNN
              
              

          </pre>
          
          


{% endblock %}

{% block scripts %}

{% endblock %}